*{
    font-family: "Cinzel", serif;
}

body{
    background: linear-gradient(to bottom, #1c1c1c, #323233,#1c1c1c);
    color: aliceblue;

}
.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    display: flex;
    font-size: 2rem;
    color: white;
    gap: 100px;
    margin-top: 100px;
}

.login{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 100vh; 
    display: flex;
    font-size: 2rem;
    color: white;
}
.grupo input{
    padding: 10px;
    border: solid 1px #b6c1ff;
    border-radius: 8px;
    width: 200px;
}
.botao input{
    width: 150px;
    border: none;
    border-radius: 10px;
    padding: 8px;
    background-color: rgb(93, 98, 105);
    color: white;
}
.botao input:hover{
    background-color: rgb(132, 140, 151);
}
.topo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #282f52;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0px;

}
.topo .caixa-img img{
    width: 2rem;
}
.topo .textinho p{
    font-size:larger;

}
.caixa{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
    font-size: 20px;
}
.texto{
    text-align: center;
}

.caixinha{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: #282f52;
    border-radius: 40px;
}
.caixinha img{
    margin-top: 20%;
    width: 80px;
    
    
}
.caixinha p {
    font-size: small;
    margin-bottom: 10px;
}
.caixinha:hover{
    background-color: rgb(70, 80, 103);
}
.caixa-agenda{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    font-size: 20px;
}
.opcoes{
    margin-left: 40px;
}
.opcoes input{
    padding: 10px;
}
.opcoes .checkbox{
    padding: 50px;
    margin-top: 2px;
}
.opcoes .checkbox{
    padding: 10px;
    width: 20px;
    height: 20px;
}